<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deal Links</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/lib/css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript" src="/assets/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/lib/angular.js"></script>
	<script type="text/javascript" src="/assets/lib/angular-route.min.js"></script>
	<script type="text/javascript" src="/assets/lib/underscore.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script type="text/javascript" src="/assets/app/app.js"></script>
	<script type="text/javascript" src="/assets/app/common/directive.js"></script>
	<script type="text/javascript" src="/assets/app/common/moduleFactory.js"></script>
	<script type="text/javascript" src="/assets/app/home/homeCtrl.js"></script>
	<script type="text/javascript" src="/assets/app/vproduct/viewCtrl.js"></script>
</head>
<body>
	<ng-view></ng-view>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/lib/js/bootstrap.min.js"></script>
</body>
</html>